{% extends "Layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 borderRadius10 voffset2 vboffset">
            <h3 class="textColor">Challenge Members</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 forumBackgroundColor borderRadius10 pad30">
            <div class="vboffset2">
                <form action="/async/membersearch" id="search" method="POST">
                    <label for="searchNick">Nickname: </label>
                    <input type="text" name="searchNick" class="form-control" id="searchNick" required>
                    <div class="text-right">
                        <input type="submit" class="btn btn-default voffset2" name="Submit" value="Search">
                    </div>
                </form>
            </div>
            <div id="divSearchResults" style="display: none; " class="table-bordered vboffset2 voffset2">
                <table class="table table-striped table-hover vboffset">
                    <thead>
                    <tr>
                        <th colspan="3" class="">
                            Result(s)
                        </th>
                    </tr>
                    </thead>
                        <tbody id="searchresults">
                    </tbody>
                </table>
            </div>
            <div>
                <div class="table-bordered pad15">
                    <div class="text-center">
                        <h4 class="dunkinFont">Participants</h4>
                    </div>
                    <table class="table table-borderless text-center">
                        <tr id="profilePicVs">
                            <td><img src="{{ profilePic }}" width="100px" height="100px"></td>
                        </tr>
                        <tr id="nickNameVs">
                            <td>{{ nickName }}</td>
                        </tr>
                    </table>
                    <span id="maxMemberAlert"></span>
                    <br>
                    <form action="/newchallenge" id="newChallenge" method="POST">
                        <input type="hidden" name="membersToChallenge" value="" id="membersToChallenge" required>
                        <input type="hidden" name="memberCount" value="1" id="memberCount">
                        <div class="table-bordered pad15 vboffset2">
                            <div class="form-group">
                                <label class="radio-inline">Board Size:&nbsp;</label>
                                <label class="radio-inline"><input type="radio" name="boardSize" value="4" checked>4x4</label>
                                <label class="radio-inline"><input type="radio" name="boardSize" value="6">6x6</label>
                                <label class="radio-inline"><input type="radio" name="boardSize" value="9">9x9</label>
                                <label class="radio-inline"><input type="radio" name="boardSize" value="12">12x12</label><br>
                            </div>

                            <div class="form-group">
                                <label class="radio-inline">Difficulty:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <label class="radio-inline"><input type="radio" name="difficulty" value="4" checked>Easy</label>
                                <label class="radio-inline"><input type="radio" name="difficulty" value="5">Normal</label>
                                <label class="radio-inline"><input type="radio" name="difficulty" value="6">Hard</label>
                            </div>

                            <div class="form-group">
                                <label class="radio-inline">Duration:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <label class="radio-inline"><input type="radio" name="duration" value="1" checked>1 Day</label>
                                <label class="radio-inline"><input type="radio" name="duration" value="2">2 Day</label>
                                <label class="radio-inline"><input type="radio" name="duration" value="3">3 Day</label>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" class="btn btn-default" name="Submit" value="Send">
                            <input type="reset" class="btn btn-default" name="Reset" value="Reset">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$("#newChallenge").validate();

    $(document).on('submit', '#newChallenge', function()
    {
        $("#maxMemberAlert").html("");
        var memberToChallenge = $('input:hidden[id=membersToChallenge]').val();

        if(memberToChallenge.length != 0)
        {
            return true;
        }
        else
        {
            $("#maxMemberAlert").html("* Select at least one member to challenege.");
            return false;
        }

    });

    $(document).on('reset', '#newChallenge', function()
    {
        $("#profilePicVs").html('<td><img src="{{ profilePic }}" width="100px" height="100px"></td>');
        $("#nickNameVs").html('<td>{{ nickName }}</td>');

        return true;
    });

    $('#searchNick').autocomplete({
        source: function (request, response) {
            $.ajax({
                type: "POST",
                url:"/async/memberautocomplete",
                data: request,
                success: response,
                dataType: 'json'
            });
        },
        autoFocus: true,
        minLength: 1,
        delay: 100
    });
</script>
{% endblock %}