{% extends "Layout.html" %}
{% block content %}

<div class="container voffset8">
    <div class="row">
        <div class="vertical-center">
            {% for link in links %}
            <div class="col-md-6 col-lg-6 text-center borderRadius10">
                <a href="{{ link['href'] }}">
                    <div>
                        <img src="../images/medal.png">
                        <br>
                        <br>
                        <br>
                        <span class="h3 dunkinFont textColor">{{ link['text'] }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}