{% extends "Layout.html" %}
{% block content %}
<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <div class="voffset2 vboffset">
            <h4 class="textColor fontSizeLarge">{{ posts[0].title }}</h4>
        </div>
        {% for key,post in posts %}
        <table class="table table-borderless tab-content voffset vboffset2 forumBackgroundColor borderRadius10">
            <tbody>
                <tr>
                    <td colspan="2"  class="text-center" style="width: 5%">
                        <img src="../{{ post.profilePic }}" width="65" height="65"><br>
                        {{ post.nickName }}<br>
                        {% for i in 1..post.rank %}
                         <img src="../images/star.png" width="15" height="15">
                        {% endfor %}
                        <br>
                        {% if post.challengeable == 1%}
                            <a href="">Challenge</a>
                        {% else %}
                            Challenge
                        {% endif %}
                    </td>
                    <td>
                        {{ post.postContent }}
                    </td>
                </tr>
                <tr>
                    <td id="td{{ post.postID }}" colspan="3" class="vboffset text-right">
                        <button type="button" class="reply btn btn-sm" id="btn{{ post.postID }}" value="{{ post.postID }}">Reply</button>
                    </td>
                </tr>
                <tr>
                    <td id="tdForm{{ post.postID }}" style="display: none" colspan="3" class="text-right">
                        <form class="replyForm" action="/forum/reply" method="POST">
                            <input type="hidden" name="threadID" value="{{ threadID }}">
                            <input type="hidden" name="postID" value="{{ post.postID }}">
                            <div class="form-group">
                                <textarea type="text" name="replyContent" id="replyContent"  class="form-control" placeholder="Enter reply here..." required></textarea><br>
                            </div>
                            <input type="submit" name="Submit" class="btn btn-sm" value="Submit">
                            <button type="button" class="cancel btn btn-sm" value="{{ post.postID }}">Cancel</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        <table class="table table-borderless tab-content forumReplyBackgroundColor voffset vboffset2 borderRadius10">
            <tbody>
            {% for reply in replies[key] %}
                <tr class="voffset">
                    <td style="width: 1%">
                        <img src="../images/reply.png" class="text-center" width="30" height="30">
                    </td>
                    <td class="text-center" style="width: 1%">
                        <img src="../{{ reply.profilePic }}" width="45" height="45"><br>
                        {{ reply.nickName }}<br>
                            {% for i in 1..reply.rank %}
                                <img src="../images/star.png" width="15" height="15">
                            {% endfor %}
                            <br>
                            {% if reply.challengeable == 1%}
                                <a href="">Challenge</a>
                            {% else %}
                            Challenge
                            {% endif %}
                    </td>
                    <td>
                        {{ reply.replyContent }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        <button type="button" class="btn btn-success" id="btnNewPost">New Post</button>
        <div class="forumBackgroundColor borderRadius10">
            <div id="divNewPost" class="form-group pad15" style="display: none">
                <form class="postForm" action="/forum/post" method="POST">
                    <input type="hidden" name="threadID" value="{{ threadID }}">
                    <textarea type="text" name="postContent"  class="form-control"  placeholder="Enter post here..." required></textarea><br>
                    <input type="submit" class="btn btn-success" name="Submit" value="Submit">
                    <button type="button" class="btn btn-primary" id="cancelNewPost">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('form').each(function() {
        $(this).validate({
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorPlacement: function(error,element) {
                return true;
            }
        });
    });
</script>
{% endblock %}