{% extends "Layout.html" %}
{% block content %}
    {% for key,post in posts %}
    <table border="1px">
        <tbody>
            <tr>
                <td colspan="2">
                    <img src="../{{ post.profilePic }}" width="65" height="65"><br>
                    {{ post.nickName }}<br>
                    {% for i in 1..post.rank %}
                     <img src="../images/star.png" width="15" height="15">
                    {% endfor %}
                    <br>
                    {% if post.challengeable == 1%}
                        <a href="">Challenge</a>
                    {% else %}
                        Challenge
                    {% endif %}
                </td>
                <td>
                    {{ post.postContent }}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="button" class="reply" id="btn{{ post.postID }}" value="{{ post.postID }}">reply</button>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                <div id="div{{ post.postID }}" style="display: none">
                    <h3>Reply</h3>
                    <form class="replyForm" action="/forum/reply" method="POST">
                        <input type="hidden" name="threadID" value="{{ threadID }}">
                        <input type="hidden" name="postID" value="{{ post.postID }}">
                        <textarea type="text" name="replyContent" required></textarea><br>
                        <input type="submit" name="Submit" value="Submit">
                        <button type="button" class="cancel" value="{{ post.postID }}">Cancel</button>
                    </form>
                </div>
                </td>
            </tr>
        {% for reply in replies[key] %}
            <tr>
                <td>
                    <img src="../images/reply.png" width="50" height="50">
                </td>
                <td>
                    <img src="../{{ reply.profilePic }}" width="45" height="45"><br>
                    {{ reply.nickName }}<br>
                    {% for i in 1..reply.rank %}
                    <img src="../images/star.png" width="15" height="15">
                    {% endfor %}
                    <br>
                    {% if reply.challengeable == 1%}
                    <a href="">Challenge</a>
                    {% else %}
                    Challenge
                    {% endif %}
                </td>
                <td>
                    {{ reply.replyContent }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>
    {% endfor %}
<button type="button" id="btnNewPost">New Post</button>
<div id="divNewPost" style="display: none">
    <h3>Post</h3>
    <form class="postForm" action="/forum/post" method="POST">
        <input type="hidden" name="threadID" value="{{ threadID }}">
        <textarea type="text" name="postContent" required></textarea><br>
        <input type="submit" name="Submit" value="Submit">
        <button type="button" id="cancelNewPost">Cancel</button>
    </form>
</div>
{% endblock %}