{% extends "Layout.html" %}
{% block content %}
<div class="voffset6 text-center">
    <div class="textColor h2 vboffset">SuperSudoku<span class="fontSizeMedium textColor">&reg;</span></div>
    <div class="textColor h4 vboffset">{{ content }}</div>
</div>
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="row vertical-center">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <img src="images/discuss.png" class="img-responsive">
                        <h1 class="titleStyle">Discuss</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row vertical-center">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <img src="images/trophy.png" class="img-responsive">
                        <h1 class="titleStyle">Challenge</h1>
                    </div>
                </div>
            </div>        </div>
        <div class="item">
            <div class="container">
                <div class="row vertical-center">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <img src="images/play.png" class="img-responsive">
                        <h1 class="titleStyle">Play</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

     Controls
    <a class="left carousel-control transparentBackground" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control transparentBackground" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<!-- /.container -->
<script>
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: 2000
        })
    });
</script>
{{ content }}
{% endblock %}