{% extends "Layout.html" %}
{% block content %}
<a href="/registration">Register</a>
<form action="/login" method="post" id="loginForm">
    <label for="nickname">Nickname</label><br>
    <input type="text" name="nickname" id="nickname" required><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="Submit">
</form>
<script type="text/javascript" src="scripts/jquery.validate.js"></script>
<script type="text/javascript" src="scripts/jquery.extend.js"></script>
<script>
    $("#loginForm").validate();
</script>
{{ content }}
{% endblock %}