{% extends "Layout.html" %}
{% block content %}
<form action="/register" method="post">
    <label for="firstName">First Name</label><br>
    <input type="text" name="firstName" id="firstName"><br>
    <label for="lastName">Last Name</label><br>
    <input type="text" name="lastName" id="lastName"><br>
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" onblur="checkEmailAvailability()"><span id="email-availability-status"></span><br>
    <label for="nickname">Nickname</label><br>
    <input type="text" name="nickname" id="nickname" onblur="checkUsernameAvailability()"><span id="username-availability-status"></span><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" onblur="checkPasswordLength()"><span id="password-length-status"></span><br>
    <label for="passwordConfirmation">Password Confirmation</label><br>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation"><br>
    <input type="submit" value="Submit">
</form>
<script>
    function checkEmailAvailability() {
        //$("#loaderIcon").show();
        jQuery.ajax({
            url: "/registration/checkemail",
            data:'email='+$("#email").val(),
            type: "POST",
            success:function(data){
                $("#email-availability-status").html(data);
                //$("#loaderIcon").hide();
            },
            error:function (){}
        });
    }
    function checkPasswordLength() {
        //$("#loaderIcon").show();
        jQuery.ajax({
            url: "/registration/checkpass",
            data:'password='+$("#password").val(),
            type: "POST",
            success:function(data){
                $("#password-length-status").html(data);
                //$("#loaderIcon").hide();
            },
            error:function (){}
        });
    }
    function checkUsernameAvailability() {
        //$("#loaderIcon").show();
        jQuery.ajax({
            url: "/registration/checkusername",
            data:'username='+$("#username").val(),
            type: "POST",
            success:function(data){
                $("#username-availability-status").html(data);
                //$("#loaderIcon").hide();
            },
            error:function (){}
        });
    }
</script>
{% endblock %}