{% extends "Layout.html" %}
{% block content %}
<div class="container">
    <div class="row vertical-center">
        <div class="col-lg-offset-4 col-lg-4 borderRadius10 navcolor pad15">
        <form action="/registration" method="post" id="registerForm">
            <input type="hidden" name="extra" id="extra">
            <div class="form-group fieldContainer">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" class="form-control" id="firstName" maxlength="25" required>
            </div>
            <div class="form-group fieldContainer">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" class="form-control" id="lastName" maxlength="25" required>
            </div>
            <div class="form-group fieldContainer">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" maxlength="45" required>
            </div>
            <div class="form-group fieldContainer">
                <label for="nickname">Nickname</label>
                <input type="text" name="nickname" class="form-control" id="nickname" maxlength="25" required>
            </div>
            <div class="form-group fieldContainer">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" minlength="8" required>
            </div>
            <div class="form-group fieldContainer">
                <label for="passwordConfirmation">Password Confirmation</label>
                <input type="password" name="passwordConfirmation" class="form-control" id="passwordConfirmation">
            </div>
            <div class="text-right voffset2">
                <input type="submit" class="btn btn-default voffset2" value="Submit">
            </div>
        </form>
    </div>
    </div>
</div>
<script>
    $( "#registerForm" ).validate({
        rules: {
            password: "required",
            passwordConfirmation: {
                equalTo: "#password"
            },
            email: {// compound rule
                required: true,
                email: true,
                remote:{
                    url: "/registration/checkemail",
                    type: "post",
                    data:
                    {
                        function()
                        {
                            return $("#email").val();
                        }
                    }
                }
            },
            'nickname': {
                required: true,
                remote:{
                    url: "/registration/checknickname",
                    type: "post",
                    data:
                    {
                        function()
                        {
                            return $("#nickname").val();
                        }
                    }
                }
            }
        },
        messages: {
            email: { remote: "Email already used"},
            'nickname': {remote: "Nickname already used"}
        },
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
    });
</script>
{% endblock %}