{% extends "Layout.html" %}
{% block content %}

<form action="/registration" method="post" id="registerForm">
    <input type="hidden" name="extra" id="extra">
    <label for="firstName">First Name</label><br>
    <input type="text" name="firstName" id="firstName" required><br>
    <label for="lastName">Last Name</label><br>
    <input type="text" name="lastName" id="lastName" required><br>
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" required><br>
    <label for="nickname">Nickname</label><br>
    <input type="text" name="nickname" id="nickname" required></span><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" minlength="8" required></span><br>
    <label for="passwordConfirmation">Password Confirmation</label><br>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation"><br>
    <input type="submit" value="Submit">
</form>
<script>
    $( "#registerForm" ).validate({
        rules: {
            password: "required",
            passwordConfirmation: {
                equalTo: "#password"
            },
            email: {// compound rule
                required: true,
                email: true,
                remote:{
                    url: "/registration/checkemail",
                    type: "post",
                    data:
                    {
                        function()
                        {
                            return $("#email").val();
                        }
                    }
                }
            },
            'nickname': {
                required: true,
                remote:{
                    url: "/registration/checknickname",
                    type: "post",
                    data:
                    {
                        function()
                        {
                            return $("#nickname").val();
                        }
                    }
                }
            }
        },
        messages: {
            email: { remote: "Email already used"},
            'nickname': {remote: "Nickname already used"}
        }
    });
</script>
{% endblock %}